body{
    background-image:url(../imagenes/alterno.jpg);
    display: flexbox;
    width:100%;
}
.cabeza{
    padding-right: 100px;
    width: 100%;
}
.Queja_cuerpo{
    display: block;
    width: 100%;
}

.navegacion{
    display: block;
    width: 100%;
}
.Perfil_cuerpo{
    display: block;
    width: 100%;
}
.Titulo{
    color: black;
    font-size: 60px;
}
.informativo{
text-align: center;
color: black;
}
.logo{
    margin:10px auto;
    display:block;
}

.form-control{
background-color:ghostwhite;
outline:none;
border-radius: 5px;
}
.main{
    padding:40px;
    margin-top: 70px;
}
.botones{
    margin-left:50px !important;
    width: 210px;
color:whitesmoke;
background-color: green;
}
.titulo-texto{
font-style: italic;
color: black;

}